@model IEnumerable<N01511170_Assignment3.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<h2>List of Teachers</h2>

<div id="containerlist">
    <nav>
        <a class="navlink" href="/Teacher/NewTeacher">New Teacher</a>
    </nav>
    <h3>You can search teachers by their names as well.</h3>
    <form action="/Teacher/List" method="GET">
        <input type="text" name="SearchKey" autocomplete="off" />
        <input type="submit" value="Search" />
    </form>
    <br />
    @foreach (var teacher in Model)
    {
        <div class="listitem row">
            <div class="col-md-12"><a href="/Teacher/Show/@teacher.TeacherId"><b>@teacher.TeacherFname @teacher.TeacherLname</b></a></div>
        </div>
    }
</div>